html,body {
background-color:gray;
font-size:0.75em;
height:96%;
width:99%;
}
#over_tabs {
height:100%;
width:100%;
display:block;
}

#init_tabs {
height:95%;
width:100%;
display:block;
}

.actor {
padding-left: 2.5em;
padding-right: 1.5em;
height:2.40em;
width:40em;
overflow-y:hidden;
}
.actor_name {
float: left;
margin-top:0.30%;
}

.sum_div {
float: left;
width:10em;
height:100%;
padding:0px 2px;
top:10%;
overflow:hidden;
}
.sum_field,.extra {
width:100%;
height:99%;
text-align:center;
overflow-y:hidden;
}
.extra>* {
text-align:center;
float: left;
width:29%;
}
.extra > input {
margin-top:2.5%;
}
.sum_field{
height:2.10em;
margin-bottom:3%;
margin-top:1.5%;
}
.sum_button {
margin-left:0.1em;
height:80%;
margin-top:1.5%
}


.actor_control {
float:right;
width:12.5%;
height:2.30em;
padding-left:1%;
}
.actor_control>* {
height:2em;
margin-top:-1em;
top:50%;
}

/*
Formatting for the Results/Active Tab, output from ajax-sorted data
*/

ul {
list-style:none
}
.active {
padding-top:0.1em !important;
padding-bottom:0.1em !important;
height:1.50em;
overflow-y:hidden;
font-size:1.5em;
}

.active_info {
padding-right: 1.5em;
padding-left:0.3em;
width:30em;
overflow-y:hidden;
}

.active > div {
text-align:center;
float:left;
height:96%
}
.active div {
float:left;
}
.active div:first-child {
margin-right:1px;
}
.active .number {
width:2em;
text-align:center;
height:100%;
}
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical>.ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical>.ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical>.ui-tabs-nav li a { display:block; }
.ui-tabs-vertical>.ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical>.ui-tabs-panel { padding: 1em; width: 80%;}
