Options +FollowSymLinks +ExecCGI
AddHandler cgi-script .pl
allow from all

ExpiresDefault "access"


Rewriteengine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ./ index.pl [L]

