html {
background:teal;
}
div,table,tr,td {
border-color:black;
}
.saves,.bab,.level {
text-align:center;
}
#level_progression {
width:100%;
border-style:solid;
border-bottom-style:none;
}
tr:nth-child(even) {
background:aquamarine;
}
tr:nth-child(odd) {
background:lightgrey;
} 
#info {
border-style:solid;
padding: 3% 10%;
height:15em;
overflow-y:scroll;
}
